*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background: #fafafa;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.top {
    background: #424242;
    padding: 74px 0;

    .calc {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .input-title {
            margin-bottom: 24px;
        }

        label {
            display: block;
            color: #FFD366;

            input {
                display: block;
                border: solid 1px #FFD366;
                width: 250px;
                height: 40px;
                font-size: 24px;
                color: rgba(white, 0.5);
                background: rgba(white, 0.18);
                border-radius: 10px;
                padding: 8px 16px;
                margin-top: 8px;
            }

            input::placeholder {
                color: rgba(white, 0.5);
            }
        }

        .calc-btn {
            font-size: 24px;
            color: #424242;
            background: #FFD366;
            padding: 48px 24px;
            border-radius: 100%;
            border: 0;

            &:hover {
                box-shadow: 0px 1px 6px 3px rgba(255, 196, 50, 0.64);
            }

            &:active {
                background: #DEA821;
            }
        }

        .resultBtn{
            align-items: center;
            font-size: 36px;
            .red{
                color:   #FF1200 ;

                &-border{               
                    border: 6px solid #FF1200 ;
                    border-radius: 100%;
                    padding: 40px 24px;
                    position: relative;
                    text-align: center;
                    margin-right: 16px;
                }

                &-bg{
                    background: #FF1200;
                }
            }

            .orange-d{
                color:   #FF6C03  ;

                &-border{               
                    border: 6px solid #FF6C03 ;
                    border-radius: 100%;
                    padding: 40px 24px;
                    position: relative;
                    text-align: center;
                    margin-right: 16px;
                }

                &-bg{
                    background: #FF6C03 ;
                }
            }
            
            .orange-l{
                color:   #FF982D  ;

                &-border{               
                    border: 6px solid #FF982D ;
                    border-radius: 100%;
                    padding: 40px 24px;
                    position: relative;
                    text-align: center;
                    margin-right: 16px;
                }

                &-bg{
                    background: #FF982D ;
                }
            }

            .blue{
                color:   #31BAF9 ;

                &-border{               
                    border: 6px solid #31BAF9 ;
                    border-radius: 100%;
                    padding: 40px 24px;
                    position: relative;
                    text-align: center;
                    margin-right: 16px;
                }

                &-bg{
                    background: #31BAF9;
                }
            }

            .green{
                color:   #86D73F  ;

                &-border{               
                    border: 6px solid #86D73F  ;
                    border-radius: 100%;
                    padding: 40px 24px;
                    position: relative;
                    text-align: center;
                    margin-right: 16px;
                }

                &-bg{
                    background: #86D73F ;
                }
            }

            .BMInum {
                font-size: 32px;
                margin-bottom: 4px;
            }
            span{
                font-size: 14px;
                display: block;
            }
            p{
                font-size: 32px;
            }

            button{
                position: absolute;
                bottom: 6px;;
                right: 0;
                border-radius: 100%;
                width: 30px;
                height: 30px;
                border: 0;
            }
        }

        
    }
    @media (max-width:768px){
        padding: 48px;
        .calc{
            flex-direction: column;
    
            img{
                margin-bottom: 24px;
            }
            .calc-count{
                margin-bottom: 24px;
                width: 60%;
                input{
                    width: 100%;
                }
            }
        }
    }

    @media (max-width:375px) {
        .calc-count{
            width: 80%;
        }

        .resultBtn{
            flex-direction: column;

            p{
                margin-top: 16px;
            }
        }
    }
}

.middle {
    padding: 48px 0;

    .clear {
        display: block;
        text-align: center;
        text-decoration: none;
        color: red;
    }

    h2 {
        text-align: center;
        color: #424242;
        font-size: 24px;
        margin-bottom: 32px;
    }

    .item {
        background: white;
        padding: 24px 16px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;

        .number {
            display: flex;
        }
    }

    span {
        display: flex;
        align-items: center;
        margin-left: 32px;
    }

    .BMI-num {
        &::before {
            content: 'BMI';
            font-size: 12px;
            margin-right: 8px;
        }
    }

    .weight-num {
        &::before {
            content: 'weight';
            font-size: 12px;
            margin-right: 8px;
        }
    }

    .height-num {
        &::before {
            content: 'height';
            font-size: 12px;
            margin-right: 8px;
        }
    }

    .safe {
        border-left: 7px solid #86D73F;
    }

    .light {
        border-left: 7px solid #31BAF9;
    }

    .fat {
        border-left: 7px solid #FF982D;
    }

    .too-fat {
        border-left: 7px solid #FF6C03;
    }

    .danger {
        border-left: 7px solid #FF1200;
    }

    @media (max-width:768px) {
        .list{
            width: 80%;
            margin: 0 auto;

            .item{
                display: block;
            }

            .number{
                margin-top: 16px;
                flex-wrap: wrap;
            }

            span{
                margin-left: 0;
                margin-right: 32px;
                margin-bottom: 8px;
            }
        }
    }

    @media (max-width:375px) {

        .number{
            flex-wrap: wrap;
        }
    }
}

.bottom {
    width: 100%;
    background: #FFD366;
    padding: 16px 0;
    display: flex;
    justify-content: center;
}